.idea/
db.sqlite3
retina/static/retina/images
retina/static/retina/retina_images
retina/classifier/labels
retina/classifier/models
.DS_Store
nnweb/config.py
*.pyc
retina/static/retina/retina_images_orig

