<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    {% extends 'retina/base.html' %}
</head>

<body>


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <a href="{% url 'retina:list' %}" class="load">
                        <span aria-hidden="true"></span> LOAD IMAGES
                    </a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-justify boxed">
                    <b>
                    This page demos an automated method of Diabetic Retinopathy screening of fundus images of the eye. The images are classified as normal[0] or affected[1] using a deep neural network.
                        Click on the link above to load a set of images to be classified by the pre-trained model.
                    </b>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>